/*color palette
    really lightgreen - #f0f7da
    lightgreen -#c9df8a
    green - #77ab59
    dark green - #36802d 
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

td {
    border: 1px solid black;
    width: 500px;
    text-align: center;
}

input,
select {
    margin: 0 auto; /* para centrar */
}

/*#elementos-container {
    width: auto;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

#elementos {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}

#elementos li a {

}

#elementos li a:visited {
    color: black;
}*/


/*new stuff */
/*helpers*/
.mt-15 {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: 0.2s all ease;
}

.btn-form {
    width: 100%;
    margin-top: 20px;
}

.btn:visited {
    color: black;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: black;
    color: white;
}

/*side left menu*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: #c9df8a; /* other option */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-left {
    left: 0;
}

.sidenav-right {
    right: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /*changes made from original*/
    padding-bottom: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: black;   
}

.sidenav-a:hover {
    /*changes made from original*/
    border-bottom: 1px solid black;
    margin-right: 30px;
}

.sidenav-a-active {
    color: black !important;
    font-weight: bold;
    /*border-bottom: 1px solid black;
    margin-right: 30px;*/
}

.sidenav-right-a {
    text-align: right;
    /*!important due the specificity of .sidenav a*/
    padding-left: 0 !important;
    padding-right: 32px !important;
}

.sidenav-right-a:hover {
    /*changes made from original*/
    border-bottom: 1px solid black;
    margin-left: 30px;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.menu-left {
    margin-left: 200px;
}

.menu-right {
    margin-right: 200px;
}

.menu-both {
    margin: 0px 200px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu-open-right {
    right: 0;
    position: fixed;
    margin-right: 5px;
}

.list-unstyled {
    margin-left: 15px;
}

.menu-list-item {
    font-size: 14px !important;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #f0f7da;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    transition: 0.3s;
}

.menu-button:hover {
    background-color: #c9df8a;
}

.icon-bar {
    background-color: #6c7b69;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 5px;
}

.header {
    /*background-color: #f0f7da;*/
    height: 40px;
    box-shadow: 5px 2px 5px #d6d6d6;
}

.header img {
    position: absolute;
    margin-left: 170px;
    transition: 0.5s;
}

.header-home {
    background-color: #f0f7da;
    margin: 0px;
}

.header-home img {
    margin-left: 0px
}

/*canvas styles*/
canvas {
    /*width: 100%;*/
    border: 1px solid black;
}